.labeling {
    height: 40px;
}

@media screen and (max-width:991px) {
    .labeling {
        height: 65px;
    }
}

@media screen and (max-width:767px) {
    .labeling {
        height: auto;
    }
}