* {
    font-family: "Garamount";
    scroll-behavior: smooth;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none !important;
}

header .nav-item {
    display: inline-block;
    color: rgb(24, 169, 253);
    text-decoration: none;
}

header .nav-item::after {
    margin-left: 10%;
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: rgb(24, 169, 253);
    transition: width .5s;
}

header .nav-item:hover::after,
header .active::after {
    width: 80%;
    transition: width .5s;
}

header {
    background-color: rgb(141, 204, 241);
}

header a:hover {
    color: rgb(181, 228, 255) !important;
}

header .active a,
header .active a:hover {
    color: rgb(24, 169, 253) !important;
}

header a {
    transition: 0.3s ease-in-out;
}

.navbar-toggler {
    border-width: 2px;
    border-color: rgb(24, 169, 253) !important;
    color: rgb(24, 169, 253) !important;
    transition: 0.5s ease-in-out;
}

.btn {
    outline: none !important;
    box-shadow: none !important;
}

.vision {
    color: #ffd400 !important;
}

.vision:hover {
    color: #fde77a !important;
}

footer {
    background-color: rgb(181, 228, 255);
}

footer li,
footer a {
    transition: 0.2s ease-in-out;
    color: rgb(150, 144, 144);
}

footer li:hover,
footer a:hover {
    color: rgb(24, 169, 253) !important;

}

footer .text-center>a {
    display: block;
    color: black
}

footer li {
    list-style: none;
}

.icons i {
    text-align: center;
    vertical-align: center;
    width: 30px;
    font-size: 16px;
    color: #FFFFFF;
    transition: 0.5s ease-in-out;
    background-color: rgb(24, 169, 253);
    border: 2px solid rgb(24, 169, 253);
    border-radius: 4px;
    margin-top: 10px;
}

footer .icons i:hover {
    background-color: #ffffff;
    color: rgb(24, 169, 253);

}

footer .copyright {
    color: #BEBABA;
    margin-top: 10%;
}

footer>.container {
    padding-bottom: 15px !important;
}

footer .copyright {
    color: rgb(0, 0, 0);
    margin-top: 10%;
}

/* .btn {
    border: 3px solid rgb(24, 169, 253);
    color: rgb(24, 169, 253);
}

.btn:hover {
    background-color: rgb(24, 169, 253);
    color: #ffffff;
} */

.shadow46and2 {
    box-shadow: 1px 1px 5px 0px rgba(219, 219, 219, 1);
    transition: 0.3s ease-in-out;
}

.shadow46and2:hover {
    box-shadow: 4px 4px 5px 3px rgba(219, 219, 219, 1) !important;
}

@media screen and (max-width:767px) {
    header .nav-item::after {
        margin-left: 0;
    }

    header .nav-item:hover::after,
    header .active::after {
        width: 15%;
        transition: width .5s;
    }

}

@media screen and (max-width: 575px) {
    footer {
        text-align: center;
    }
}

@media screen and (min-width: 576px) and (max-width:767px) {
    footer .row>div {
        padding-left: 70px;
    }
}