.btn {
    margin: 0 auto;
    border: 3px solid #8bdfe2;
    border-radius: 10px;
    margin-top: 30px;
}

.btn {
    border: 3px solid rgb(24, 169, 253);
    background-color: rgb(24, 169, 253);
    color: #ffffff;
}

.btn:hover {
    background-color: white;
    color: rgb(24, 169, 253);

}

table {
    margin: 0 auto;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 20px;
}

table td {
    border: 2px solid #fff;
    padding: 3px;
    width: 25%;
}

tr {
    background: #8bdfe2;
}

tr:nth-child(even) {
    background-color: #a9e7e9 !important;
}

.imagedit {
    width: 25% !important;
}

.list-group-item {
    transition: 0.2s ease-in-out;
    border-color: rgb(24, 169, 253);
    border-width: 2px;
}

.list-group-item.active,
.list-group-item:hover {
    background-color: rgb(24, 169, 253);
    color: white;
    border-color: transparent;
}

@media screen and(max-width:767px) {
    #float-phone .row {
        display: flex !important;
        flex-direction: column-reverse !important;
    }

    #float-phone .row>div:nth-child(2) {
        margin-top: 0 !important;
        padding-bottom: 20px;
    }
}