.btn {
    margin: 0 auto;
    border: 3px solid #8bdfe2;
    border-radius: 10px;
    margin-top: 30px;
}

.btn {
    border: 3px solid rgb(24, 169, 253);
    color: rgb(24, 169, 253);
}

/* .btn:hover {
    background-color: rgb(24, 169, 253);
    color: #ffffff;
} */

.card-header {
    background-color: rgb(141, 204, 241);
    color: white;
    font-weight: bold;
}

.card {
    height: 300px;
}

.card-group .card {
    height: 450px;
    margin-bottom: 40px;
}

.card-footer {
    color: rgb(24, 169, 253);
    font-weight: 600;
    margin-top: 30px;
    background-color: white;
}

#myModal h3 {
    color: rgb(0, 162, 255);
    text-shadow: 3px 3px 5px #25B9BA;
    font-weight: 600;
}

#myGallery i {
    color: black !important;
    font-size: 60px;
    transition: 0.3s ease-in-out;
}

#myGallery i:hover,
#myGallery a:hover i {
    color: rgb(24, 169, 253) !important;
}

.carousel-control-next,
.carousel-control-prev {
    opacity: 1 !important;
    transition: 1s ease-in-out;
}

/* .card-group .card {
    margin: 10px;
} */